In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Group by').getOrCreate()
spark

In [3]:
df_pyspark = spark.read.csv('Test_for_groupby.csv', header=True, inferSchema=True)
df_pyspark.show()

+------+------------+-------+
|  Name|  Department| Salary|
+------+------------+-------+
| Illia|         IOT|10000.0|
| Artem|Data Science|15000.0|
|  Vlad|    Big Data| 5000.0|
| Lesia|    Big Data|20000.0|
|Nastya|         IOT|20000.0|
| Vania|Data Science| 4000.0|
| Elena|         IOT| 8000.0|
| Yarik|Data Science|13000.0|
| Kolia|Data Science| 7000.0|
| Nazar|         IOT|16000.0|
|Nastya|    Big Data|20000.0|
| Illia|Data Science|10000.0|
| Illia|    Big Data|10000.0|
+------+------------+-------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: double (nullable = true)

In [10]:
#### Groupby
####Group to find the maximum Salary
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|  Vlad|     5000.0|
| Lesia|    20000.0|
| Kolia|     7000.0|
| Nazar|    16000.0|
| Vania|     4000.0|
| Artem|    15000.0|
| Yarik|    13000.0|
|Nastya|    40000.0|
| Elena|     8000.0|
| Illia|    30000.0|
+------+-----------+

In [13]:
#### Groupby departments which gives maximum salaryy and max Salary to one person
df_pyspark.groupBy('Department').max('Salary').show()
df_pyspark.groupBy('Department').sum('Salary').show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|    20000.0|
|    Big Data|    20000.0|
|Data Science|    15000.0|
+------------+-----------+

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|    54000.0|
|    Big Data|    55000.0|
|Data Science|    49000.0|
+------------+-----------+

In [14]:
df_pyspark.groupBy('Department').mean('Salary').show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|    13500.0|
|    Big Data|    13750.0|
|Data Science|     9800.0|
+------------+-----------+

In [16]:
## coun how many people work in each department
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    4|
|    Big Data|    4|
|Data Science|    5|
+------------+-----+

In [20]:
## total value for each row
df_pyspark.agg({'Salary':'sum',}).show()

+-----------+
|sum(Salary)|
+-----------+
|   158000.0|
+-----------+