In [17]:
!pip install pyspark

Requirement already satisfied: pyspark in d:\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in d:\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [18]:
import pyspark
import pandas as pd

In [19]:
pd.read_csv('Test1.csv')

     Name  Age
0   Illia   20
1   Artem   21
2    Vlad   30
3   Lesia   45
4  Nastya   20

In [20]:
from pyspark.sql import SparkSession

In [21]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [22]:
spark

In [23]:
df_spark = spark.read.csv('Test1.csv')

In [24]:
df_spark

DataFrame[_c0: string, _c1: string]

In [32]:
#  display records of a dataframe in the output using .show() mrthod
df_pyspark = spark.read.option('header', 'true').csv('Test1.csv')
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| Illia| 20|
| Artem| 21|
|  Vlad| 30|
| Lesia| 45|
|Nastya| 20|
+------+---+

In [34]:
# w
df_pyspark.head(3)

[Row(Name='Illia', Age='20'),
 Row(Name='Artem', Age='21'),
 Row(Name='Vlad', Age='30')]

In [35]:
# pyspark.printSchema() used to print or display the schema of the DataFrame in the tree format 
# along with column name and data type.
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)